@use "./hero";

.content {
  margin-top: 30em;
  &__cover {
    width: 100%;
    position: relative;
    z-index: 1;
    height: 100%;
    top: -140px;
  }
  &__items {
    margin-top: -155px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0b1d26;
    position: relative;
  }
  
  &__val {
    max-width: 1462px;
    width: 100%;
    display: flex;
    align-items: center;
    // justify-content: space-around;
    position: relative;
    top: -150px;
    z-index: 5;
    margin-top: 200px;
    &:nth-child(1){
      margin-top: -100px;
    }
    &_first {
      max-width: 632px;
      width: 100%;
      color: white;
      position: relative;
      margin-left: 300px;
      margin-right: 100px;
      & h3 {
        @extend .hero__center_heading;
      }

      & h2 {
        font-family: Chronicle Display;
        font-size: 50px;
        font-weight: 600;
        line-height: 1.20;
      }
      & p {
        font-family: gilroySemi;
        font-size: 13px;
        font-weight: 300;
        line-height: 1.7;
        margin-block: 27px;
      }
      &_heading {
        font-family: gilroySemi;
        font-size: 180px;
        font-weight: 700;
        color: #ffffff;
        opacity: 0.1;
        z-index: 1;
        position: absolute;
        top: -85px;
        left: -90px;

        &--second{
          left: -85px;
        }
      }

      & article {
        display: flex;
        align-items: center;
        color: #fbd784;
        & span {
          font-family: gilroyMed;
          font-size: 16px;
          text-transform: lowercase;
          line-height: 22px;
        }

        & i {
          margin-left: 16px;
        }
      }
    }
    &_second {
      margin-right: 180px;
      & img {
        height: 540px;
        width: 425px;
      }
      &--second{
        margin-right: 154px;
        margin-left: 0;
      }
    }

    &:nth-child(2){
      flex-direction: row-reverse;


    }


    &--second{
      @extend .content__val;

      &_first{
        margin-left: 0;
      }

    }

    &:nth-child(2){
      .content__val_first{
        margin-left: 0;
        margin-right: 200px;
      }
      .content__val_second{
        margin-left: 229px;
        margin-right: 154px;
      }
    }
  }
}
